body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}

.dashboard {
  flex: 1;
  padding: 20px;
  background: white;
  overflow-y: auto;
}

.headingg {
  margin-bottom: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.cursor {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
