.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #007bff, #00d4ff);
  overflow: auto;
}

@keyframes floatAnimation {
  from {
    transform: translateY(0px) scale(1);
  }

  to {
    transform: translateY(20px) scale(1.1);
  }
}

.auth-box {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.headingh2 {
  color: #007bff;
  margin-bottom: 10px;
}

.subline {
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.inputfields {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.inputfields:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  color: white;
}

.auth-link {
  margin-top: 12px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.link {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: rgba(0, 123, 255, 0.6);
  text-underline-offset: 3px;
  animation: blinkEffect 2s infinite alternate ease-in-out;
}

@keyframes blinkEffect {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}

.link:hover {
  color: #0056b3;
  text-decoration-color: rgba(0, 86, 179, 0.8);
}

.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0px;
}
